@model MyStudentsGrades.Models.Activity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quarter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quarter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classroom.ClassroomName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="Classrooms" asp-action="CompleteInfo" asp-route-id="@Model.ClassroomId">Back to List</a>
</div>
