@model MyStudentsGrades.Models.Classroom

@{
    ViewData["Title"] = "CompleteInfo";
}

<h1> @Html.DisplayFor(model => model.NameSchool) - @Html.DisplayFor(model => model.ClassroomName)</h1>
<p>
    <a asp-controller="Students" asp-route-id="@Model.Id" asp-action="Create">Add New Student</a>
    <a asp-controller="Students" asp-route-id="@Model.Id" asp-action="Create">| Add New Activity</a>
</p>
<div class="divTable">
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th>
                    Name
                </th>
                <th>
                    Number
                </th>
                <th>
                   BirthDate
                </th>
                <th>
                    Students Info
                </th>
                @foreach (var item in Model.Activities)
                {
                <th>
                    @Html.DisplayFor(modelItem => item.Name)
                </th>
                }
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Students)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td>
                        <a asp-controller="Students" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Students" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="Students" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
